[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybars3 = "*"
python-frontmatter = "*"
python-dotenv = "*"
markdown-link-attr-modifier = "*"
markdown = "*"
slugify = "*"

[dev-packages]

[requires]
python_version = "3.9"
