html {
  margin: 0 auto;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

:root {
  --background-color: #F7FAFF;
  --text-color: #2e3340;
  --link-color: #BF616A;
  --link-visited-color: #BF616A;
  --accent: #CB5C67;
  --pre-background-color: rgba(0, 0, 0, .05);
  --page-max-width: 1000px;
  --shadow: 0 5px 20px rgba(0,0,0,.05);
}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color: #2e3340;
      --text-color: #D8DEE9;
      --accent: #ECEFF4;
      --pre-background-color: rgba(0, 0, 0, .2);
      --shadow: 0 5px 20px rgba(0,0,0,.15);
  }
}

html {
  background-color: var(--background-color);
  color: var(--text-color)
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__inner {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.menu {
  margin: 0;
  padding: 0;
  line-height: 2rem;
  height: 3rem;
  box-shadow: var(--shadow);
}

.menu__inner {
  display: flex;
  max-width: var(--page-max-width);
  margin: 0.2rem auto 0.4rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.menu__header {
  font-size: 1rem;
  margin: 0;
}

.menu__header a {
  color: var(--accent);
}

.menu__links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
  margin: 0 0 0 1rem;
  padding: 0;
}

.menu__link {
  padding: 0 .5rem;
}

.page {
  line-height: 1.5;
  max-width: var(--page-max-width);
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

pre {
  width: 100%;
  overflow: scroll;
  padding: .5rem .5rem .8rem;
  background-color: var(--pre-background-color);
  font-size: 0.75rem;
  line-height: 1.4;
}

code {
  background: var(--pre-background-color);
  padding: 0 0.3rem;
  color: var(--link-color);
}

pre code {
  background-color: transparent;
  padding: 0;
}
